In [1]:
import pandas as pd
import numpy as np

In [13]:
#数据格式化

datafile = open('dump-min.lammpstrj', 'r', encoding='utf-8')
datas = datafile.readlines()
#print(type(datas))
datalist = []
for i in range(len(datas)-1):
    datas[i] = ' '.join(datas[i].split())
    datalist.append(datas[i])

#print(datalist)
    
datafile.close()



datafile = open('dump.txt', 'w')

data = '\n'.join(datalist)

datafile.write(data)

datafile.close()

In [14]:
contents = pd.read_csv('dump.txt', sep=' ')
contents = contents.drop(["type"], axis=1)
contents.head()

    id         x          y        z
0  481  4.122830   1.637560  6.84725
1  482  2.726470  26.806100  4.99423
2  483  0.192467   2.225050  6.89315
3  486  6.623700   3.326080  6.69354
4  488  6.752160   0.639887  5.52796

In [17]:
contents.to_csv('final.data', sep=' ', index=False)

In [5]:
# 排序
contents = pd.read_csv('final.data', sep=' ')
contents = contents.sort_values('id')
contents.head()

      id         x          y        z
1180   1  4.596110   2.429000  24.3296
1181   2  2.661720  26.754800  21.8527
1182   3 -0.162201   4.984770  25.2161
1183   4  2.737840   0.072017  24.9711
1184   5  8.519780   0.160532  25.6068

In [6]:
contents.to_csv('final.data', sep=' ', index=False)